<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>
      <td>8pm</td>
      <td>Doors open</td>
    </tr>
    <tr>
      <td>8:30pm</td>
      <td>Champagne and canapes served</td>
    </tr>
    <tr>
    	<td>9pm</td>
    	<td>Speech</td>
    </tr>
    <tr>
    	<td>9:30pm</td>
    	<td>Painting unveiled</td>
    </tr>
    <tr>
    	<td>9:40pm</td>
    	<td>Live band plays</td>
    </tr>
  </table>

     
     

    </tr>
    <!-- etc. etc. -->
  </table>

</body>
</html>