<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
  	<%@schedule.each do |task| %>
  	<tr>
  		<td><%= task [0] %></td>
  		<td><%= task [1] %></td>

     
     

    </tr>
    <% end %>
    <!-- etc. etc. -->
  </table>

</body>
</html>